<?php
	/**
	 * Default configuration options for Xoket.
	 *
	 * @package Xoket
	 * @subpackage Configuration
	 */
	
	/**
	 * The root location of xoket in the URL.
	 **/
	$config['location'] = '/noderegator/';

	/**
	 * The context to render in by default.
	 */
	$config['default_context'] = 'xhtml';
	
	/**
	 * The controller to use by default.
	 */
	$config['default_controller'] = 'page';
