%p
  NodeRegator rocks.

%h2 Example Client Code 
  %pre
    :plain
      &lt;script type=&quot;text/javascript&quot; src=&quot;http://localhost:3000/noderegate.js&quot;&gt;&lt;/script&gt;
      &lt;script type=&quot;text/javascript&quot;&gt;NodeRegate.track( 'U-123' );&lt;/script&gt;