%form{ method: 'post' }
  %div.form-entry
    %label{ for: "username" } Username
    %input{ type: 'text', name: 'username' }
  %div.form-entry
    %label{ for: "password" } Password
    %input{ type: 'password', name: 'password' }
  %div.panel
    %input.label-offset{ type: 'submit', value: 'Log In' }
